.header-info-container{
  top: 165px;
  height: 120px;
  width: 700px;
}
.main-info-container{
  margin-top: 130px;
  width: 700px;
}

li{
  margin-left: 0;
}

ol li{
  counter-increment: lista;
  position: relative;
}

li::before{
  content: "\2022";
}

ol li::before{
  content: counter(lista);
}

@media screen and (max-width: 728px) {
  .header-info-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 90%;
    padding-right: 0;
  }
  .img-container{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    position: absolute;
    top: -25px;
    left: calc(50% - 18px);
  }
  .text-header{
    margin-left: 0;
  }

  .main-info-container{
    margin-top: 200px;
    width: 90%;
  }

  .main-info{
    flex-direction: column;
  }

  .main-info h1{
    font-size: 1.25rem;
  }

  .main-info button{
    width: 100%;
  }

  .footer-info{
    display: none;
  }

  footer button{
    margin-left: 20px;
    width: 90%;
  }

  @media screen and (max-width: 728px) {
    .main-info h1{
      font-size: 1.125rem;
    }
  }

}

