<section class="flex justify-center">
  <section class="header-info-container pr-10 bg-white dark:bg-very-dark-blue rounded flex justify-between absolute">
    <div class="flex rounded">
      <div style.background-color="{{job.logoBackground}}" class="img w-24 flex justify-center items-center rounded">
        <img [src]="job.logo" class="h-4 px-2">
      </div>
      <div class="text-header flex flex-col ml-10 pt-7">
        <h2 class="font-bold text-xl dark:text-white">{{job.company}}</h2>
        <p class="mt-2 text-sm text-dark-grey opacity-70">{{job.website}}</p>
      </div>
    </div>
    <div>
      <button type="button" class="h-10 w-32 mt-8  text-violet dark:text-white bg-violet dark:bg-white dark:bg-opacity-10 bg-opacity-10 hover:bg-opacity-25 dark:hover:bg-opacity-25 font-bold rounded text-sm px-4 py-1.5 mb-2">Company Site</button>
    </div>

  </section>

  <section class="main-info-container rounded overflow-hidden  bg-white dark:bg-very-dark-blue px-8 py-8">
      <div class="main-info flex flex-row justify-between">
        <div>
          <div class="flex space-x-2 text-sm  text-dark-grey opacity-70">
            <p>{{job.postedAt}}</p>
            <p>.</p>
            <p>{{job.contract}}</p>
          </div>
          <h1 class="text-2xl font-bold mt-2 mb-2 dark:text-white">{{job.position}}</h1>
          <p class="text-sm text-violet font-bold">{{job.location}}</p>
        </div>

        <button type="button" class="h-10 w-32 mt-5 mr-4 bg-violet hover:bg-ligth-violet text-xs text-white font-bold rounded">Apply Now</button>
      </div>

    <div class="mt-10">
        <p class="mb-10 text-dark-grey opacity-70">{{job.description}}</p>

        <div>
          <h3 class="text-lg font-bold mb-5 dark:text-white">Requirements</h3>
          <p class="text-dark-grey mb-5 opacity-70">{{job.requirements.content}}</p>
          <ul  class="mb-2">
            <li *ngFor="let item of job.requirements.items"
                class="list-none before:text-violet before:pr-8 ml-3 text-dark-grey">
                  {{item}}
            </li>
          </ul>
        </div>

        <div>
          <h3 class="text-lg font-bold mb-5 mt-10 dark:text-white">What you will do</h3>
          <p class="text-dark-grey mb-5 opacity-70">{{job.role.content}}</p>
          <ol class="mb-2 ml-3">
            <li *ngFor="let item of job.role.items"
                class="list-none before:text-violet before:pr-8 before:font-semibold text-dark-grey opacity-70">
                  {{item}}
            </li>
          </ol>
        </div>
      </div>
  </section>
</section>


<footer class="flex justify-center bg-white dark:bg-very-dark-blue mt-20 py-5 h-24">
  <div class="flex flex-row justify-between" style="width: 700px;">
    <div class="footer-info flex flex-col">
      <h3 class="text-lg font-bold dark:text-white">{{job.position}}</h3>
      <p class="mt-2 text-dark-grey opacity-70">So Digital Inc.</p>
    </div>
    <button type="button" class="h-10 w-28 mt-2 bg-violet hover:bg-ligth-violet text-xs text-white font-bold rounded">Apply Now</button>
  </div>


</footer>
