<section class="pt-20 px-52 flex flex-row justify-between">
  <img class="h-12" src="../../../assets/desktop/logo.svg" alt="">
  <div class="mode-header-container flex flex-row h-12 ... space-x-6 ...">
      <p> <span class="light"></span></p>
      <label class="relative inline-block items-center cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer">
          <div class="w-12 h-7 bg-white peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-violet  after:hover:bg-ligth-violet after:rounded-full after:h-5 after:w-5 after:transition-all"></div>
      </label>
      <p class="mt-1"> <span class="dark"></span></p>
  </div>
</section>
