<div *ngIf="modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-center justify-center text-center">
      <div class="container relative transform overflow-hidden rounded-lg bg-white dark:bg-very-dark-blue text-left shadow-xl transition-all sm:my-8">
        <div class="bg-white pb-4 pt-5 flex flex-col dark:bg-very-dark-blue">
            <div class="py-2 px-4 w-full border-b  border-light-grey dark:border-dark-grey dark:border-opacity-25 flex items-center">
              <span>
                <svg width="17" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M14.358 2.451A8.3 8.3 0 008.448 0a8.3 8.3 0 00-5.911 2.451c-2.922 2.925-3.285 8.427-.786 11.76l6.697 9.683 6.687-9.669c2.508-3.347 2.145-8.85-.777-11.774zm-5.833 8.894a3.057 3.057 0 01-3.051-3.054 3.057 3.057 0 013.05-3.055 3.057 3.057 0 013.052 3.055 3.057 3.057 0 01-3.051 3.054z" fill="#5964E0" fill-rule="nonzero"/></svg>
              </span>
              <input  type="text"
                      name="location"
                      id="location"
                      autocomplete="off"
                      class="focus:outline-none ml-4  text-sm dark:bg-very-dark-blue text-very-dark-blue placeholder:text-grey placeholder:opacity-70"
                      placeholder="Filter by location..."
                      [(ngModel)]="location"
              />
            </div>
            <div class="py-4 px-4">
              <input  type="checkbox"
                      name="fullTime"
                      value=""
                      class="checkbox w-4 h-4 bg-dark-grey bg-opacity-25  border-none rounded-sm  cursor-pointer checked:bg-violet mt-2 appearance-none"
                      [(ngModel)]="fullTime"
              />
              <label class="ml-4 text-sm font-bold text-very-dark-blue dark:text-white">Full Time Only</label>

            </div>
        </div>
        <div class="flex w-full">
          <button type="submit"
                  class="h-10 w-full my-4 mx-4 text-white bg-violet hover:bg-ligth-violet font-bold rounded text-sm"
                  (click)="searchJob()">
              Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
