section{
  padding-left: 13%;
  padding-right: 13%;
}

@media screen and (max-width: 920px) {
  section{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 588px) {
  section{
    display: flex;
    flex-direction: column;
  }
}
