<section class="">
    <section class="header pt-12  flex flex-row justify-center">
      <div class="flex justify-between" style="width: 80%;">
        <img class="h-8" src="../../../assets/desktop/logo.svg" alt="">
        <div class="mode-header-container flex flex-row h-10  space-x-6">
            <p> <span class="light"></span></p>
            <label class="relative inline-block items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer" (click)="changeMode()">
                <div class="w-11 h-6 bg-white peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-violet  after:hover:bg-ligth-violet after:rounded-full after:h-5 after:w-5 after:transition-all"></div>
            </label>
            <p> <span class="dark"></span></p>
        </div>
      </div>

  </section>

  <app-search (parametros)="searchJob($event)" *ngIf="router.url === '/'"></app-search>


  <router-outlet></router-outlet>
</section>



