.search{
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/desktop/icon-search.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  width: 38%;
}

.location-container{
  width: 30%;
}

.location-icon{
  display: inline-block;
  width: 20px;
  height: 28.5px;
  background-image: url('../../../assets/desktop/icon-location.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1092px) {

  .title{
    width: 25%;
  }

  .location-container{
    width: 35%;
  }

  .checkbox-container{
    width: 20%;
    margin-left: 0;
  }

  button{
    width: 70px;
  }
}

@media screen and (max-width: 876px) {

  .title{
    width: 90%;
    border-right: none;
    margin-left: 0;
  }

  .search, .location-container, .checkbox-container{
    display: none;
  }

  button{
    width: 50px;
  }


}
