<section class="px-6 search-container h-16  flex flex-row space-x-8  relative mt-2 rounded-md shadow-sm bg-white cursor-pointer">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-6">
        <span class="search"></span>
    </div>

    <input type="text" name="title" id="title" class="w-full focus:outline-none py-1.5 pl-4 pr-20 text-sm text-very-dark-blue placeholder:text-grey border-r border-dark-grey  border-opacity-25" placeholder="Filter by title, companies, expertise…">

    <div class="w-full flex items-center border-r  border-dark-grey border-opacity-25">
        <span class="location-icon"></span>
        <input type="text" name="title" id="title" class="w-full focus:outline-none py-1.5 pl-4 pr-20 text-sm text-very-dark-blue placeholder:text-grey " placeholder="Filter by location">
    </div>


    <div class="w-full flex items-center mt-2 mb-1">
        <input type="checkbox" value="" class="checkbox w-3 h-3 text-blue-600 bg-light-grey rounded  dark:bg-gray-700 ">
        <label class="text-sm font-bold  text-very-dark-blue dark:text-white">Full Time Only</label>
    </div>

  <button type="button" class="h-10 mt-3 text-white  bg-violet hover:bg-ligth-violet font-bold rounded text-sm px-5 py-1.5 mb-2">Search</button>
</section>
