.search-container .search{
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/desktop/icon-search.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search-container button{
  width: 200px;
}

.search-container .checkbox{
  margin-right: 5px;
}

.search-container .location-icon{
  display: inline-block;
  width: 24px;
  height: 30px;
  background-image: url('../../../assets/desktop/icon-location.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
