<!-- <section class="px-4 search-container  h-16 flex flex-row justify-between space-x-6 relative mt-2 rounded-md shadow-sm bg-white dark:bg-very-dark-blue cursor-pointer">
  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-6">
    <span class="search"></span>
  </div>

  <form action="" class="flex flex-row space-x-6">
    <input  type="text"
            name="title"
            id="title"
            class="focus:outline-none w-full py-1.5 pl-4 pr-20text-sm text-very-dark-blue dark:bg-very-dark-blue placeholder:text-grey border-r border-dark-grey border-opacity-25"
            style=""
            placeholder="Filter by title, companies, expertise…"
            [(ngModel)]="title"
    />

    <div class="flex items-center w-full border-r border-dark-grey border-opacity-25">
      <span class="location-icon"></span>
      <input  type="text"
              name="location"
              id="location"
              class="focus:outline-none w-full  py-1.5 pl-4 pr-20 text-sm text-very-dark-blue placeholder:text-grey dark:bg-very-dark-blue"
              style="width: 100%;"
              placeholder="Filter by location"
              [(ngModel)]="location"
      />
    </div>

    <div class="flex items-center mt-2 mb-1">
      <input  type="checkbox"
              value=""
              class="checkbox w-5 h-5 text-blue-600 bg-light-grey rounded dark:bg-gray-700"

      />
      <label class="text-sm font-bold w-24 text-very-dark-blue dark:text-white">Full Time Only</label>

    </div>

    <button type="submit"
            class="h-10 mt-3  text-white bg-violet hover:bg-ligth-violet font-bold rounded text-sm px-5 py-1.5 mb-2"
            style=""
            (click)="searchJob()"
    >
      Search
    </button>

  </form>



</section> -->

<section class="h-16 px-4 flex flex-row rounded-md bg-white dark:bg-very-dark-blue">
  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-6">
    <span class="search"></span>
  </div>
  <form action="" class="flex flex-row space-x-8 w-full">
    <input  type="text"
            name="title"
            id="title"
            class="focus:outline-none  py-1.5 pl-4 ml-6 text-sm dark:bg-very-dark-blue text-very-dark-blue placeholder:text-grey border-r border-dark-grey border-opacity-25"
            style="width: 38%;"
            placeholder="Filter by title, companies, expertise…"
            [(ngModel)]="title"
    />
    <div class="flex items-center border-r border-dark-grey border-opacity-25" style="width: 30%;">
      <span class="location-icon"></span>
      <input  type="text"
              name="location"
              id="location"
              class="focus:outline-none ml-4  text-sm dark:bg-very-dark-blue text-very-dark-blue placeholder:text-grey "
              placeholder="Filter by location..."
              [(ngModel)]="location"
      />
    </div>

    <div class="flex items-center">
      <input  type="checkbox"
              name="fullTime"
              value=""
              class="checkbox w-5 h-5 text-blue-600 bg-light-grey rounded dark:bg-gray-700 cursor-pointer"
              [(ngModel)]="fullTime"
      />
      <label class="ml-4 text-sm font-bold text-very-dark-blue dark:text-white">Full Time Only</label>
    </div>

    <div class="flex">
      <button type="submit"
              class="h-10 w-24 mt-3 justify-end text-white bg-violet hover:bg-ligth-violet font-bold rounded text-sm"
              (click)="searchJob()">
        Search
      </button>
    </div>

  </form>
</section>
